<div class="container">
  <div class="row">
    <div class="col-12">
         <h1>
        {{title}}
      </h1>
      <h2>
       En PizzaNode abrimos las puertas de nuestro primer local en el año 2007. Desde entonces nos hemos dedicado a fabricación y comercialización de uno de los productos más consumidos en la gastronomía argentina. Nuestras pizzas se caracterizan por ser elaboradas con la más moderna tecnología en instalaciones propias de la empresa y selección de materias primas de primera calidad, teniendo como resultado un producto distinguido por su exquisito sabor.
      </h2>
    </div>
  </div>
</div>