<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
       <div class="carousel-item">
      <img src="https://t2.rg.ltmcdn.com/es/images/5/2/4/img_pizza_vegetariana_casera_12425_600.jpg" class="d-block w-100" alt="Vegana">
    </div>
    <div class="carousel-item active">
        <img src="https://mediacenter.bonduelle.com/cdn/202001/ESGP104_.jpg" class="d-block w-100" alt="Verdura">
    </div>
    <div class="carousel-item">
      <img src="https://www.ngenespanol.com/wp-content/uploads/2018/08/La-pizza-napolitana-es-declarada-patrimonio-de-la-humanidad.jpg" class="d-block w-100" alt="Napolitana">
    </div>
    <div class="carousel-item">
      <img src="https://pedidosflash.online/wp-content/uploads/2020/12/pizza-de-peperoni.jpg" class="d-block w-100" alt="Calabresa">
    </div>
  </div>
</div>