<footer class="footer mt-auto py-3  fixed-bottom" >
  <div class="container">
    <span class="text-muted">2021 - Todos los derechos reservados - Términos y condiciones - PizzaNode</span>
    <p>©2021, All Rights Reserved</p>
  </div>
</footer>